:root {
    ---background-header: #2D333B;
    ---background-main: #F1F4F4; 
    ---background-footer: #2d333bd0;  /* segunda cor #2d333b9d*/
}

.display-grid {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 95vh;
    grid-template-areas: ' h m'
                          'h m'
                          'h f';   
    
}

.header {
    grid-area: h;
    background-color: var(---background-header);
    position: fixed;
    height: 100vh;
}

main {
    grid-area: m;
    background-color: var(---background-main);
    padding-top: 20px;
}

footer {
    grid-area: f;
    height: 5vh;
    text-align: center;
    padding-top: 5px;
    background-color: var(---background-footer);
}


@media (max-width: 1035px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding:0 15px;
        height: 5vh;
        margin: 5px 0;
        width: auto;
    }

    .header {
        position: sticky;
        height: 7vh;
    }

    .display-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        grid-template-areas: ' h h'
                              'm m'
                              'f f';   
        
    }
}

@media(max-width: 375px) {
    .card-item {
        width: 265px;
    }
    .projeto-img {
        width: 250px;
        height: auto;
    }
}