@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

:root {
    ---cor-links: #fff;
    ---cor-hover-link: #1BE691;
    ---background-card-item: #E3E0E0;
    ---background-card-info: #4946462d;
    ---modulo-display-none: #2D333B;
    ---cor-black: #2D333B;
    ---cor-blue: #4169e1a9;
}

html,
body {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
    gap: 20px;
    width: 135px;
    height: 90vh;
}

.nav_link {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    color:  var(---cor-links);
    transition: all 0.3s ease;
}

.dropdown {
    position: relative;
    padding: 5px;
    cursor: pointer;
    color: var(---cor-links);
}

.content-dropdown {
    display: none;
    width: 99px;
    margin-left: -4px;
    margin-top: 6px;
    padding: 10px 5px;
    background-color: var(---modulo-display-none);
    box-shadow: rgb(0 0 0 / 58%) 1px 1px 5px 0px;
    border-radius: 6px;
    
    position: absolute;
    left: 0;
    z-index: 2;
}

.content_dropdown {
    margin-left: -15px;
}

.dropdown:hover .content-dropdown{
    display: block;
}

.background_link:hover {
    background-color: var(---cor-hover-link);
}

.container {
    display: grid;
    justify-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: 10px;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
}

.modulo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.projeto-img {
    width: 290px;
    height: 210px;
    border-radius: 6px;
    transition: all 0.4s ease-in;
    box-shadow: 0 4px 17px 7px #0000000d;
}

.projeto-img:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 17px 7px #0000000d;
}

.card-item {
    background-color: var(---background-card-item);
    padding: 10px 0 0;
    width: 325px;
    border-radius: 6px;
    text-align: center;
}

.card-info {
    background-color: var(---background-card-info);
    padding: 5px 0;
    transition: all 0.5s ease;
    border-radius: 0px 0px 5px 5px;
}

.card-info:hover {
    box-shadow: -1px 2px 7px 0px #0000001b;
    color: var(---cor-hover-link);
}

.link-codigo {
    color: var(---cor-black);
    transition: all 0.5s ease;
}

.link-codigo:hover {
    color: var(---cor-blue);
}

footer > p {
    color: var(---cor-links);
    margin-left: 2px;
}

.link-perfil {
    color: var(---cor-links);
    margin-left: 5px;
    transition: all 0.3s ease;
}

.link-perfil:hover {
   color: var(---cor-hover-link);
}

.button-top {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(---cor-black);
    color: var(---background-card-item);
    box-shadow: rgb(0 0 0 / 44%) 0px 0px 2px 1px;
   
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-10%, -75%);
} 

