@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

:root {
    ---cor-links: #fff;
    ---cor-hover-link: #1BE691;
    ---background-card-item: #E3E0E0;
    ---background-card-info: #4946462d;
    ---modulo-display-none: #2D333B;
    ---cor-black: #2D333B;
    ---cor-blue: #4169e1a9;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
    gap: 10px;
    width: 135px;
    height: 90vh;
}

summary {
    padding-bottom: 5px;
    color: var(---cor-links);
    cursor: pointer;
}

.nav_link {
    border-radius: 3px;
    padding: 5px; 
    color:  var(---cor-links);
    transition: all 0.3s ease;
}

.content-link {
    display: flex;
    flex-direction: column;
    width: 134px;
    padding: 10px 0;
    row-gap: 10px;
    border-radius: 6px;
    background-color: var(---modulo-display-none);
    box-shadow: 1px 1px 2px 1px #00000094;
    align-items: center;
    z-index: 2;
    font-size: 15px;
} 

.background_link{
    padding: 5px 30px;
}

.background_link:hover {
    background-color: var(---cor-hover-link);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    row-gap: 20px;
    justify-items: center;
    justify-content: center;
    margin: 10px;
}

.modulo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.projeto-img {
    width: 290px;
    height: 210px;
    border-radius: 6px;
    transition: all 0.4s ease-in;
    box-shadow: 0 4px 17px 7px #0000000d;
}

.projeto-img:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 17px 7px #0000000d;
}

.card-item {
    background-color: var(---background-card-item);
    padding: 10px 0 0;
    width: 325px;
    border-radius: 6px;
    text-align: center;
}

.card-info {
    background-color: var(---background-card-info);
    padding: 5px 0;
    transition: all 0.5s ease;
    border-radius: 0px 0px 5px 5px;
}

.card-info:hover {
    box-shadow: -1px 2px 7px 0px #0000001b;
    color: var(---cor-hover-link);
}

.link-codigo {
    color: var(---cor-black);
    transition: all 0.5s ease;
}

.link-codigo:hover {
    color: var(---cor-blue);
}

footer > p {
    color: var(---cor-links);
    margin-left: 2px;
}

.link-perfil {
    color: var(---cor-links);
    margin-left: 5px;
    transition: all 0.3s ease;
}

.link-perfil:hover {
   color: var(---cor-hover-link);
}
