div {
    display: inline-block;
    background-color: lightcyan;
    border: 1px solid black;
    text-align: center;
    height: 200px; /* Altura */
    width: 200px;   /* Largura */
    
    
}

div:hover {
    background-color: yellow;
}

