body {
    font-family: Arial, Helvetica, sans-serif;
      /*   
      Medidas Absolutas
      cm, mm, in, px, px, pt, pc
      
      
      Medidas Relativas
      em, ex, vw, vh, %
      16px geralmente = 1em
     
      */
     font-size: 1em;  
     /* (font-weigth) lighter-(mais leve), normal, bold-(negrito), bolder */

     
      font-style:;
      font-weight:;
      font-size:;
      font-family:;
      


     /*shorthand significar (forma abreviada)
      (font:) font-style -> font-weight -> font-size -> font-family 
      (font) é declaração
     */

    }


