* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

img{
    width: 100%;
    display: block;
}

a {
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    transition: background 0.5s ease;
}

a:hover {
    background-color: rgba(139, 0, 0, 0.767);
}