* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, 
body {
    width: 100%;
    height: 100vh;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    /* background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed; */
}

.conteiner-logo {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px 10px;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

a {
    transition: all 0.5s ease-in;
    border-radius: 50%;
} 

.logo:hover {
    transform: scale(1.05);
    border: 1px inset white;
}

.conteiner{
    display: flex;
    justify-content: center;

} 

.tela {
    position: relative;
    left: 0;
    right: 0;
    bottom: 387px;
    transform: translate(0, 0);

 /* left: 50%;
 right: 50%;
 transform: translate(50%, 50%); */
} 

iframe {
    /* position: absolute;
    left: 0;
    right: 10px;
    bottom: 60px;
    transform: translate(0, 0);
    height: 500px;
    width: 280px; */

    position: absolute;
    left: 26px;
    right: 0;
    bottom: 79px;
    transform: translate(0, 0);
    height: 475px;
    width: 267px;
    
}
