
 * {
    text-decoration: none;
}

body {
 background-color: rgba(17, 14, 17, 0.781);
 font-family: Arial, Helvetica, sans-serif;
}
  #texto {
     text-align: center;
     color:white;
   }
       #imagem {
        text-align: center;
       }
   .conteiner {
     display: grid;
     justify-items: center;
   }
