@media(max-width: 1300px) {
    .content {
        position: absolute;
        top: 25%;
        left: 18%;

    }

    .wallpaper img  {
        max-height: 420px;
        width: 590px;
        margin-top: 67px;
        margin-left: 480px;

    }
}
       
@media (max-width: 1110px) {
    .wallpaper img {
        max-height: 420px;
        width: 530px;
        margin-top: 71px;
        margin-left: 435px;
    }

    .content {
        position: absolute;
        top: 25%;
        left: 16%;
    }
}

@media (max-width: 980px) {
    .wallpaper img {
        max-height: 420px;
        width: 530px;
        margin-top: 71px;
        margin-left: 416px;
    }

}

@media (max-width: 929px) { 
    .conteiner {
        margin-top: 50px;
    }

    .wallpaper img {
        max-height: 420px;
        width: 490px;
        margin-top: 71px;
        margin-left: 409px;
    }
}

@media (max-width: 884px) {
    .header {
        justify-content: space-between; 
    }
    
    .menu-bar {
        display: block;
    }

    .menu-element {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #636363;
        top: 99px;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
        border-radius: 3px;
    }

    .menu-element li {
      margin: 20px 0;
      padding: 10px;
      line-height: 20px;
    }

    .menu-element li a {
        font-size: 1.2em;
        transition: all 0.1s;
    }

    #check:checked ~ .menu-element {
        left: 0%;
    }

    .section {
        padding: 10px;
    }

    .content-title{
        font-size: 3em;
        text-align: center; 
    }

    .content-paragraph {
        font-size: 25px;
    }

    .button-start {
        width: 214px;
        height: 47px;
        font-size: 20px;
    }

    .wrap-content{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        position: static;
        margin: 0 auto;
    }

    .wallpaper img {
        max-height: 420px;
        width: 413px;
        margin: 0;
    }
}