@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, 
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    padding: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.logo {
    color: #D2872C;
}

.menu-bar {
    font-size: 1.5em;
    display: none;
}

#check {
    display: none;
}

.menu { 
    display: flex; 
    gap: 20px; 
}

.menu-element {
    display: flex;
    gap: 20px;
    font-weight: 500; 
    padding: 5px;
    color: rgba(0, 0, 0, 0.61);
}

.menu-element a {
    color: black;
}

.conteiner {
    margin-bottom: 50px;
    width: 100vw;
}

.content {
    position: absolute;
    top: 25%;
    left: 22%;
}

.content-title{
    display: flex;
    font-size: 3.1em;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 600; 
}

.content-paragraph {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 20px;
    font-size: 1.25em; 
}

.button-start {
    background-color:#D2872C;
    border-radius: 10px;
    width: 160px;
    height: 38px;
    border-style: none;
    color: #ffff;
    font-weight: bolder;
    font-size: 15px;
    text-shadow: #ffff;
    margin-top: 25px;
    transition: all 0.5s;
}

.button-start:hover {
    background-color: rgba(233, 156, 92, 0.897);
}

.wallpaper img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 420px;
    width: 590px;  
    margin-top: 71px;
    margin-left: 560px;
    transition: all 0.5s;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px 0px;
}

.github {
    color: rgba(0, 0, 0, 0.459);
    padding: 4px;
}

.github:hover {
    background-color: #D2872C;
    border-radius: 4px;
    transition: 0.5s;
}
