@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
-----------------------------
Pequenas telas:  até 600px
Celular:  de 600px até 768px
Tablet:  769px até 992px
Desktop:  993px até 1200px
Grandes telas:   Acima de 1201px

*/

@media print { /* Impressão*/
    /* body {
        background: black url(../imagens/imagens/back-print.jpg);
    } */

    img.phone {display: none;}
    img.print {display: block;}

} 

@media  screen and (min-width: 768px) and (max-width: 992px) {  /* Tablet */
    body {
      background-image: url(../imagens/imagens/back-tablet.jpg);
    }
  
    img.phone {display: none;}
    img.tablet {display: block;}
}

@media screen and (min-width:993px) and (max-width: 1200px) {  /* Desktop */
    body {
       background-image: url(../imagens/imagens/back-pc.jpg);
    }

    img.phone {display: none;}
    img.pc {display: block;}
}

@media screen and (min-width: 1201px) {  /* Grandes Telas */
   body {
       background-image: url(../imagens/imagens/back-tv.jpg);
    }
   
    img.phone {display: none;}
    img.tv {display: block;}
}

