@charset "UTF-8";

:root {
    ---background-linear: linear-gradient(rgba(169, 169, 169, 0.576),  rgba(9, 9, 121, 0.761));
    ---padding: 20px 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
       background-image: var(---background-linear);
    }
  
    form {
        display: flex;
        flex-direction: row-reverse;
        width: 645px;
        width: 700px;
        height: 340px;
    }

    fieldset {
        border-radius: 0 8px 8px 0;
        padding: 10px;
        width: 50%;
    }

    .title {
        padding: var(---padding);
    }

    p {
        font-size: 0.95em;
    }

    .logo-login {
        width: 50%;
        height: auto;
        border-radius: 8px 0 0 8px;
    }
    
    label {
        width: auto;
    }

    .input-user {
        width: 335px;
        margin-left: 5px;
    }
}

@media screen and (min-width:993px) {
    body, html {
        background-image: var(---background-linear);
    }

    form {
        display: flex;
        flex-direction: row;
        width: 900px;
        height: 340px;
    }

    fieldset {
        border-radius: 8px 0 0 8px;
        padding: 10px;
        width: 50%;
    }

    .title {
        padding: var(---padding);    
        font-size: 1.7em;
    }

    P {
        font-size: 1em;
    }

    .logo-login {
        height: auto;
        border-radius: 0 8px 8px 0;
        width: 50%;
    }
    
    label {
        width: auto;
    }

    .input-user {
        width: 400px;
        margin-left: 5px;
    }
}
