@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100vh;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

header > h1 {
    color: #D2872C;
}

nav { 
    display: flex; 
    gap: 20px;    /* dá distancia entre os elementos */
 
}
nav > a {
    font-weight: 600; 
    padding: 5px;
    color: rgba(0, 0, 0, 0.61);
}


main#conteiner {
    border-top: 0.4px solid black;
    margin-bottom: 40px;
}

section.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.conteudo-dentro {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

h2.conteudo-dentro-titulo {
    display: flex;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 600; 
}

p.conteudo-dentro-paragrafo {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61);
}

button.botao {
    background-color:#D2872C;
    border-radius: 10px;
    width: 160px;
    height: 38px;
    border-style: none;
    color: #ffff;
    font-weight: bolder;
    font-size: 15px;
    text-shadow: #ffff;
}

.botao:hover {
    background-color: rgba(233, 156, 92, 0.897);
}

img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 420px;
   
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px 0px;
}

.github {
    color: rgba(0, 0, 0, 0.459);
    padding: 4px;
}

.github:hover {
    background-color: #D2872C;
    border-radius: 4px;
    transition: 0.5s;
}
