@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(90deg, #025159, #025373);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(1, 48, 53, 0.541);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #025159;
    text-shadow: 1px 1px 2px rgba(2, 48, 53, 0.473);
}

h2 {
   color: #025939;

}
p {
    text-align: justify;
}