* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(imagens/espaco.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;

  /* Shorthand 
    background-color
    background-image
    background-position
    background-repeat
    backgroiund-attachment  */
}

/* alinhamento 
img {
    display: block;
    margin: auto;
    padding-top: 121px;
    max-width: 305px;
    width: 100%;
}
*/

img {
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}