html, body {
     
}

h1, p {
    text-align: center;
    margin: 40px;
    

}

.conteiner {
   text-align: center;
  
  
  

    
}

.conteiner > #box {
    float: right;  /* POSICIONANDO PARA DIREITA */
    margin-right: 270px; /* ALINHANDO AO CENTRO */
    box-shadow: 10px 20px 10px #000; /* SOMBRA, (10PX EIXO X HORIZOTAL ) (20PX EIXO Y VERTICAL ) (10PX EFEITO DE BLUR/BORRÃO */
    width: 500px;
    height: 300px;
    align-items: center;

}
